html{
    background-image:url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#comptime{
    height:40vw;
    width: 55vw;
    position: relative;
    top: 100px;
    left: 30%;   
    background: orangered;
    background: url(clock.png) no-repeat;
    background-size: 70%;
    
}

#hours, #minutes, #seconds{
    position: absolute;
    background: black;
    transform-origin: bottom;
    border-radius: 10px;
}

#hours{
    width: 0.65rem;
    height: 8rem;
    top: 18.8vh;
    left: 18.75vw;
    opacity: 1;
}

#minutes{
    width: 0.6rem;
    height: 9rem;
    top: 15vh;
    left: 18.8vw;
    opacity: 0.8;
}

#seconds{
    width: 0.5rem;
    height: 12rem;
    top: 8.5vh;
    left: 18.9vw;
    opacity: 0.8;
}